td.fit {
  white-space: nowrap;
  width: 1%;
}

.brand {
  font-family: 'Alegreya', serif;
  font-size: 1.8em;
}

.repeal-day {
  font-family: 'Alegreya', serif;
}

h1 {
  font-family: 'Alegreya', serif;
}

h2 {
  font-family: 'Alegreya', serif;
}

h3 {
  font-family: 'Alegreya', serif;
}